# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\fredr\OneDrive\Dokument\-- Skola --\Komplexen\Project\Fredrik_27_11_3\FFR120-Project\Liseberg_Folder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
